{{ define "views/index.html"}}
<!--index.html-->

{{ template "layouts/header.html" .}}

<main role="main" class="container">
    <div>
        <h3>Message Generator</h3>
        <div class="mt-4">
            <ul class="nav nav-tabs" id="nav-tab-logtypes" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="nav-tab-logtype-info" data-toggle="tab" href="#tab-content-logtype-info" role="tab" aria-controls="info" aria-selected="true">INFO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-logtype-warning" data-toggle="tab" href="#tab-content-logtype-warning" role="tab" aria-controls="warning" aria-selected="true">WARNING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-logtype-error" data-toggle="tab" href="#tab-content-logtype-error" role="tab" aria-controls="error" aria-selected="true">ERROR</a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tab-logtypes-content">
                <!--INFO-->
                <div class="tab-pane fade show active" id="tab-content-logtype-info" role="tabpanel" aria-labelledby="nav-tab-logtype-info">
                    <form id="formInfoLogMsg" onsubmit="return false">
                        <div class="form-group">
                            <label for="inputInfoMessage" class="mt-3">Message</label>
                            <textarea id="textAreaInfoMsg" rows="3" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Send</button>
                    </form>
                </div>
                <!--WARNING-->
                <div class="tab-pane fade" id="tab-content-logtype-warning" role="tabpanel" aria-labelledby="nav-tab-logtype-warning">
                    <form id="formWarningLogMsg" onsubmit="return false">
                        <div class="form-group">
                            <label for="inputWarningMessage" class="mt-3">Message</label>
                            <textarea id="textAreaWarningMsg" rows="3" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-warning" type="submit">Send</button>
                    </form>
                </div>
                <!--ERROR-->
                <div class="tab-pane fade" id="tab-content-logtype-error" role="tabpanel" aria-labelledby="nav-tab-logtype-error">
                    <form id="formErrorLogMsg" onsubmit="return false">
                        <div class="form-group">
                            <label for="inputErrorMessage" class="mt-3">Message</label>
                            <textarea id="textAreaErrorMsg" rows="3" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-danger" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--msg alert: success -->
    <div class="mt-3 alert alert-success collapse" role="alert" id="alertMessageSuccess">
        Message sent.
        <button type="button" class="close" aria-label="Close" id="buttonAlertMessageSuccess">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--msg alert: failed -->
    <div class="mt-3 alert alert-danger collapse" role="alert" id="alertMessageFailed">
        Error happened while sending the message.
        <button type="button" class="close" aria-label="Close" id="buttonAlertMessageFailed">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr />
    <div>
        <h3>Metrics Generator</h3>
        <div  class="mt-4">
            <form id="formMetricsGenerator" onsubmit="return false">
                <div class="form-group row">
                    <label for="inputTemperature" class="col-sm-2 col-form-label">Temperature</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputMetricsTemperature" placeholder="Temperature">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputHumidity" class="col-sm-2 col-form-label">Humidity</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputMetricsHumidity" placeholder="Humidity">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPrecipitation" class="col-sm-2 col-form-label">Precipitation</label>
                    <div class="col-sm-10">
                        <input type="number" step="any" min="0" max="1" class="form-control" id="inputMetricsPrecipitation" placeholder="Precipitation">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </div>
            </form>
            <!--metrics alert:success-->
            <div class="alert alert-success collapse" role="alert" id="alertMetricsSuccess">
                Metrics sent.
                <button type="button" class="close" aria-label="Close" id="buttonAlertMetricsSuccess">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--metrics alert:failed-->
            <div class="alert alert-danger collapse" role="alert" id="alertMetricsFailed">
                Error happened while sending the metrics.
                <button type="button" class="close" aria-label="Close" id="buttonAlertMetricsFailed">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</main>

{{ template "layouts/footer.html" }}

{{ end }}